.home-container {
  .home-header {
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-family: monospace;
    color: white;
    font-weight: bold;
    padding: 20px 0 20px 0;
  }

  .add-or-edit-review-container {
    border-radius: 5px;
    padding: 20px;
    text-align: -webkit-center;
  }
}
